{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="http://localhost/PP1/SISTGESTION/assets/css/styles.css">
{% endblock %}
{% block content %}
  {% block header %}
      <div class="encabezado">
          <a href="{{ path('princ') }}">
          <div class="imagen1">
              <img src="images/SanNicolas.png" width="250" height="50">
            
            </a>
            <a href="{{ path('usuario') }}">
            <div class="icono1">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_9_36)">
              <path d="M15 8.9137C14.2007 8.9137 13.4093 9.07112 12.6709 9.37698C11.9325 9.68285 11.2615 10.1312 10.6964 10.6963C10.1312 11.2615 9.68291 11.9324 9.37705 12.6708C9.07118 13.4093 8.91376 14.2007 8.91376 14.9999C8.91376 15.7992 9.07118 16.5906 9.37705 17.3291C9.68291 18.0675 10.1312 18.7384 10.6964 19.3036C11.2615 19.8687 11.9325 20.317 12.6709 20.6229C13.4093 20.9288 14.2007 21.0862 15 21.0862C16.6142 21.0862 18.1622 20.445 19.3036 19.3036C20.445 18.1622 21.0863 16.6141 21.0863 14.9999C21.0863 13.3858 20.445 11.8377 19.3036 10.6963C18.1622 9.55492 16.6142 8.9137 15 8.9137ZM10.7888 14.9999C10.7888 13.8831 11.2324 12.8119 12.0222 12.0221C12.812 11.2324 13.8831 10.7887 15 10.7887C16.1169 10.7887 17.188 11.2324 17.9778 12.0221C18.7676 12.8119 19.2113 13.8831 19.2113 14.9999C19.2113 16.1168 18.7676 17.188 17.9778 17.9777C17.188 18.7675 16.1169 19.2112 15 19.2112C13.8831 19.2112 12.812 18.7675 12.0222 17.9777C11.2324 17.188 10.7888 16.1168 10.7888 14.9999Z" fill="black"/>
              <path d="M18.3673 2.51792C17.3792 -0.83833 12.6204 -0.83833 11.6323 2.51792L11.456 3.11604C11.387 3.35033 11.2665 3.5662 11.1032 3.74784C10.9399 3.92948 10.7381 4.07228 10.5124 4.16577C10.2868 4.25926 10.0431 4.30107 9.79921 4.28814C9.55532 4.27521 9.3174 4.20787 9.10292 4.09104L8.55542 3.79104C5.48042 2.11855 2.11854 5.48229 3.79292 8.55542L4.09104 9.10292C4.20787 9.3174 4.27521 9.55532 4.28814 9.79921C4.30107 10.0431 4.25926 10.2868 4.16577 10.5124C4.07228 10.7381 3.92948 10.9399 3.74784 11.1032C3.5662 11.2665 3.35033 11.387 3.11604 11.456L2.51792 11.6323C-0.83833 12.6204 -0.83833 17.3792 2.51792 18.3673L3.11604 18.5435C3.35033 18.6126 3.5662 18.7331 3.74784 18.8964C3.92948 19.0597 4.07228 19.2615 4.16577 19.4872C4.25926 19.7128 4.30107 19.9565 4.28814 20.2004C4.27521 20.4443 4.20787 20.6822 4.09104 20.8967L3.79104 21.4442C2.11855 24.5192 5.48042 27.8829 8.55542 26.2067L9.10292 25.9085C9.3174 25.7917 9.55532 25.7244 9.79921 25.7114C10.0431 25.6985 10.2868 25.7403 10.5124 25.8338C10.7381 25.9273 10.9399 26.0701 11.1032 26.2517C11.2665 26.4334 11.387 26.6493 11.456 26.8835L11.6323 27.4817C12.6204 30.8379 17.3792 30.8379 18.3673 27.4817L18.5435 26.8835C18.6126 26.6493 18.7331 26.4334 18.8964 26.2517C19.0597 26.0701 19.2615 25.9273 19.4872 25.8338C19.7128 25.7403 19.9565 25.6985 20.2004 25.7114C20.4443 25.7244 20.6822 25.7917 20.8967 25.9085L21.4442 26.2085C24.5192 27.8829 27.8829 24.5173 26.2067 21.4442L25.9085 20.8967C25.7917 20.6822 25.7244 20.4443 25.7114 20.2004C25.6985 19.9565 25.7403 19.7128 25.8338 19.4872C25.9273 19.2615 26.0701 19.0597 26.2517 18.8964C26.4334 18.7331 26.6493 18.6126 26.8835 18.5435L27.4817 18.3673C30.8379 17.3792 30.8379 12.6204 27.4817 11.6323L26.8835 11.456C26.6493 11.387 26.4334 11.2665 26.2517 11.1032C26.0701 10.9399 25.9273 10.7381 25.8338 10.5124C25.7403 10.2868 25.6985 10.0431 25.7114 9.79921C25.7244 9.55532 25.7917 9.3174 25.9085 9.10292L26.2085 8.55542C27.8829 5.48042 24.5173 2.11854 21.4442 3.79292L20.8967 4.09104C20.6822 4.20787 20.4443 4.27521 20.2004 4.28814C19.9565 4.30107 19.7128 4.25926 19.4872 4.16577C19.2615 4.07228 19.0597 3.92948 18.8964 3.74784C18.7331 3.5662 18.6126 3.35033 18.5435 3.11604L18.3673 2.51792ZM13.4304 3.04854C13.8917 1.48292 16.1079 1.48292 16.5692 3.04854L16.7454 3.64667C16.8936 4.14933 17.1524 4.61246 17.5028 5.00211C17.8532 5.39175 18.2864 5.69804 18.7706 5.89851C19.2547 6.09898 19.7776 6.18855 20.3009 6.16065C20.8242 6.13275 21.3347 5.9881 21.7948 5.73729L22.3404 5.43729C23.7729 4.65917 25.3404 6.22479 24.5604 7.65917L24.2623 8.20667C24.0119 8.66684 23.8676 9.17722 23.84 9.7004C23.8124 10.2236 23.9022 10.7463 24.1028 11.2303C24.3035 11.7142 24.6098 12.1472 24.9995 12.4974C25.3892 12.8476 25.8522 13.1062 26.3548 13.2542L26.951 13.4304C28.5167 13.8917 28.5167 16.1079 26.951 16.5692L26.3529 16.7454C25.8503 16.8936 25.3871 17.1524 24.9975 17.5028C24.6078 17.8532 24.3015 18.2864 24.1011 18.7706C23.9006 19.2547 23.811 19.7776 23.8389 20.3009C23.8668 20.8242 24.0115 21.3347 24.2623 21.7948L24.5623 22.3404C25.3404 23.7729 23.7748 25.3404 22.3404 24.5604L21.7948 24.2623C21.3345 24.0115 20.824 23.8669 20.3006 23.8392C19.7772 23.8114 19.2542 23.9011 18.77 24.1018C18.2858 24.3024 17.8526 24.6089 17.5023 24.9988C17.152 25.3886 16.8934 25.852 16.7454 26.3548L16.5692 26.951C16.1079 28.5167 13.8917 28.5167 13.4304 26.951L13.2542 26.3529C13.1059 25.8505 12.8472 25.3876 12.4969 24.9982C12.1466 24.6087 11.7137 24.3026 11.2297 24.1021C10.7458 23.9017 10.2231 23.812 9.70005 23.8398C9.17697 23.8675 8.66672 24.0118 8.20667 24.2623L7.65917 24.5623C6.22667 25.3404 4.65917 23.7748 5.43917 22.3404L5.73729 21.7948C5.98845 21.3346 6.13339 20.824 6.16147 20.3005C6.18955 19.777 6.10006 19.2538 5.89956 18.7694C5.69907 18.285 5.39266 17.8516 5.00282 17.501C4.61297 17.1505 4.14959 16.8916 3.64667 16.7435L3.04854 16.5673C1.48292 16.106 1.48292 13.8898 3.04854 13.4285L3.64667 13.2523C4.14881 13.104 4.61143 12.8453 5.00069 12.4951C5.38994 12.145 5.69598 11.7122 5.89639 11.2285C6.09681 10.7448 6.18654 10.2224 6.15901 9.69958C6.13148 9.17673 5.9874 8.66665 5.73729 8.20667L5.43729 7.65917C4.65917 6.22667 6.22479 4.65917 7.65917 5.43917L8.20667 5.73729C8.66672 5.98775 9.17697 6.13212 9.70005 6.15983C10.2231 6.18754 10.7458 6.09789 11.2297 5.89745C11.7137 5.69701 12.1466 5.39085 12.4969 5.0014C12.8472 4.61195 13.1059 4.14907 13.2542 3.64667L13.4304 3.04854Z" fill="black"/>
              </g>
              <defs>
              <clipPath id="clip0_9_36">
              <rect width="30" height="30" fill="white"/>
              </clipPath>
              </defs>
              </svg>
            </div>
            </a>
            <div class="icono2">
              <svg width="50" height="50" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_9_32)">
              <path d="M41.25 22.5C41.25 25.4837 40.0647 28.3452 37.955 30.455C35.8452 32.5647 32.9837 33.75 30 33.75C27.0163 33.75 24.1548 32.5647 22.045 30.455C19.9353 28.3452 18.75 25.4837 18.75 22.5C18.75 19.5163 19.9353 16.6548 22.045 14.545C24.1548 12.4353 27.0163 11.25 30 11.25C32.9837 11.25 35.8452 12.4353 37.955 14.545C40.0647 16.6548 41.25 19.5163 41.25 22.5Z" fill="black"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 30C0 22.0435 3.16071 14.4129 8.7868 8.7868C14.4129 3.16071 22.0435 0 30 0C37.9565 0 45.5871 3.16071 51.2132 8.7868C56.8393 14.4129 60 22.0435 60 30C60 37.9565 56.8393 45.5871 51.2132 51.2132C45.5871 56.8393 37.9565 60 30 60C22.0435 60 14.4129 56.8393 8.7868 51.2132C3.16071 45.5871 0 37.9565 0 30ZM30 3.75C25.0567 3.75026 20.2139 5.14636 16.029 7.7776C11.8441 10.4088 8.48731 14.1683 6.34487 18.6232C4.20242 23.0782 3.36145 28.0475 3.91874 32.9593C4.47604 37.8712 6.40895 42.5258 9.495 46.3875C12.1575 42.0975 18.0188 37.5 30 37.5C41.9813 37.5 47.8388 42.0938 50.505 46.3875C53.5911 42.5258 55.524 37.8712 56.0813 32.9593C56.6386 28.0475 55.7976 23.0782 53.6551 18.6232C51.5127 14.1683 48.1559 10.4088 43.971 7.7776C39.7861 5.14636 34.9433 3.75026 30 3.75Z" fill="black"/>
              </g>
              <defs>
              <clipPath id="clip0_9_32">
              <rect width="60" height="60" fill="white"/>
              </clipPath>
              </defs>
              </svg>
            </div>
          </div>
      </div> 
 {% endblock %}
      <div class="categoria">
         {% for categoria in categorias %}
              <a href="{{ path('stockp') }}"> 
                <div class="categ-cont">
               {% if categoria.id == 0 %}
               <img src="images/stock1.png">
                <svg width="50" height="50" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M85.5833 21.7917L79.7917 14.7917C78.6667 13.375 76.9583 12.5 75 12.5H25C23.0417 12.5 21.3333 13.375 20.1667 14.7917L14.4167 21.7917C13.2083 23.2083 12.5 25.0833 12.5 27.0833V79.1667C12.5 83.75 16.25 87.5 20.8333 87.5H79.1667C83.75 87.5 87.5 83.75 87.5 79.1667V27.0833C87.5 25.0833 86.7917 23.2083 85.5833 21.7917ZM50 72.9167L27.0833 50H41.6667V41.6667H58.3333V50H72.9167L50 72.9167ZM21.3333 20.8333L24.7083 16.6667H74.7083L78.625 20.8333H21.3333Z" fill="#0000FF"/>
                </svg>
                <h2 class="nombre-stock">{{ categoria.nombre }}</h2>
                <p>{{ categoria.descripcion }}</p>
              {% endif %}
              </a> 
              <a href="{{ path('informacion') }}">
              {% if categoria.id == 1 %}
              <img src="images/informacion.png">
                <svg width="50" height="50" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54.1667 20.8333H87.5M54.1667 37.5H75M54.1667 62.5H87.5M54.1667 79.1666H75M12.5 20.8333C12.5 19.7282 12.939 18.6684 13.7204 17.887C14.5018 17.1056 15.5616 16.6666 16.6667 16.6666H33.3333C34.4384 16.6666 35.4982 17.1056 36.2796 17.887C37.061 18.6684 37.5 19.7282 37.5 20.8333V37.5C37.5 38.605 37.061 39.6648 36.2796 40.4462C35.4982 41.2276 34.4384 41.6666 33.3333 41.6666H16.6667C15.5616 41.6666 14.5018 41.2276 13.7204 40.4462C12.939 39.6648 12.5 38.605 12.5 37.5V20.8333ZM12.5 62.5C12.5 61.3949 12.939 60.3351 13.7204 59.5537C14.5018 58.7723 15.5616 58.3333 16.6667 58.3333H33.3333C34.4384 58.3333 35.4982 58.7723 36.2796 59.5537C37.061 60.3351 37.5 61.3949 37.5 62.5V79.1666C37.5 80.2717 37.061 81.3315 36.2796 82.1129C35.4982 82.8943 34.4384 83.3333 33.3333 83.3333H16.6667C15.5616 83.3333 14.5018 82.8943 13.7204 82.1129C12.939 81.3315 12.5 80.2717 12.5 79.1666V62.5Z" stroke="#FFA500" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h2 class="nombre-info">{{ categoria.nombre }}</h2>
                <p>{{ categoria.descripcion }}</p>

              {% endif %}
              </a>
              {#
              <a href="">
              {% if categoria.id == 2 %}
                <svg width="40" height="40" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M80.4167 37.1875L62.7083 19.6875L68.5417 13.8542C70.1389 12.257 72.1014 11.4584 74.4292 11.4584C76.7569 11.4584 78.718 12.257 80.3125 13.8542L86.1458 19.6875C87.743 21.2848 88.5764 23.2125 88.6458 25.4709C88.7153 27.7292 87.9514 29.6556 86.3542 31.25L80.4167 37.1875ZM74.375 43.3334L30.2083 87.5H12.5V69.7917L56.6667 25.625L74.375 43.3334Z" fill="#008000"/>
                </svg>
                <h2 class="nombre-edit">{{ categoria.nombre }}</h2>
                <p>{{ categoria.descripcion }}</p>

              {% endif %}
              </a>
              #}
              {#
              <a href="">
              {% if categoria.id == 3 %}
                <svg width="40" height="40" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_9_73)">
                <path d="M50 87.5C40.4167 87.5 32.0653 84.3222 24.9458 77.9667C17.8264 71.6111 13.7472 63.6778 12.7083 54.1667H21.25C22.2222 61.3889 25.4347 67.3611 30.8875 72.0833C36.3403 76.8055 42.7111 79.1667 50 79.1667C58.125 79.1667 65.0181 76.3361 70.6792 70.675C76.3403 65.0139 79.1694 58.1222 79.1667 50C79.1667 41.875 76.3361 34.9819 70.675 29.3208C65.0139 23.6597 58.1222 20.8306 50 20.8333C45.2083 20.8333 40.7292 21.9444 36.5625 24.1667C32.3958 26.3889 28.8889 29.4444 26.0417 33.3333H37.5V41.6667H12.5V16.6667H20.8333V26.4583C24.375 22.0139 28.6986 18.5764 33.8042 16.1458C38.9097 13.7153 44.3083 12.5 50 12.5C55.2083 12.5 60.0875 13.4903 64.6375 15.4708C69.1875 17.4514 73.1458 20.1236 76.5125 23.4875C79.8792 26.8569 82.5528 30.8153 84.5333 35.3625C86.5139 39.9097 87.5028 44.7889 87.5 50C87.5 55.2083 86.5097 60.0875 84.5292 64.6375C82.5486 69.1875 79.8764 73.1458 76.5125 76.5125C73.1431 79.8792 69.1847 82.5528 64.6375 84.5333C60.0903 86.5139 55.2111 87.5028 50 87.5ZM61.6667 67.5L45.8333 51.6667V29.1667H54.1667V48.3333L67.5 61.6667L61.6667 67.5Z" fill="#808080"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip1_9_73">
                <rect width="100px" height="100px" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                <h2 class="nombre-hist">{{ categoria.nombre }}</h2>
                <p>{{ categoria.descripcion }}</p>
              {% endif %}
              </a>
              <a href="{{ path('usuario') }}">
              {% if categoria.id == 2 %}
                <svg width="50" height="50" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M90.207 85.9375C89.9327 86.4127 89.5381 86.8072 89.0629 87.0815C88.5877 87.3558 88.0487 87.5001 87.5 87.5H12.5C11.9517 87.4994 11.4132 87.3546 10.9386 87.0801C10.464 86.8056 10.07 86.4111 9.79607 85.9361C9.52218 85.4612 9.37806 84.9225 9.3782 84.3742C9.37835 83.8259 9.52274 83.2873 9.79688 82.8125C15.7461 72.5274 24.9141 65.1524 35.6133 61.6563C30.321 58.5057 26.2092 53.705 23.9093 47.9914C21.6095 42.2778 21.2488 35.9672 22.8826 30.0287C24.5164 24.0903 28.0544 18.8523 32.9532 15.1192C37.8521 11.3862 43.8409 9.36438 50 9.36438C56.1591 9.36438 62.1479 11.3862 67.0468 15.1192C71.9456 18.8523 75.4836 24.0903 77.1174 30.0287C78.7512 35.9672 78.3905 42.2778 76.0907 47.9914C73.7908 53.705 69.679 58.5057 64.3867 61.6563C75.0859 65.1524 84.2539 72.5274 90.2031 82.8125C90.478 83.2872 90.6231 83.8259 90.6238 84.3745C90.6244 84.923 90.4807 85.4621 90.207 85.9375Z" fill="black"/>
                </svg>
                <h2 class="nombre-usuario">{{ categoria.nombre }}</h2>
                <p>{{ categoria.descripcion }}</p>

              {% endif %}
              </a>
              #}
              <a href="{{ path('agregar') }}">
              {% if categoria.id == 2 %}
               <img src="images/agregar.png">
                <svg width="40" height="50" viewBox="0 0 79 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M70.75 2H8.25C4.79822 2 2 4.79822 2 8.25V70.75C2 74.2018 4.79822 77 8.25 77H70.75C74.2018 77 77 74.2018 77 70.75V8.25C77 4.79822 74.2018 2 70.75 2Z" stroke="#FF0000" stroke-width="4" stroke-linejoin="round"/>
                <path d="M39.5 22.8333V56.1666M22.8333 39.5H56.1666" stroke="#FF0000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h2 class="nombre-agregar">{{ categoria.nombre }}</h2>
                <p>{{ categoria.descripcion }}</p>

              {% endif %} 
              </a>                
            </div> 
            </a>     
          {% endfor %}
      </div>
      
{% endblock %}
